/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-white: #fff;
  --color-gray-light: #E8E8E8;
  --color-gray: #ccc;
  --color-black: #000;
  --color-red: #F4364C;
  --color-teal: #9CDBD9;
  --color-blue: #0047BB;

  /* ===================== */
  --link-color: var(--color-blue);
  --link-hover-color: var(--link-color);
  --background-color: var(--color-white);
  --overlay-background-color: var(--color-blue);
  --overlay-text-color: var(--color-white);
  --highlight-background-color: var(--color-gray);
  --text-color: var(--color-black);

  /* fonts */
  --black-font: 'Proxima Nova Black', 'Proxima Nova Black fallback', sans-serif;
  --extrabold-font: 'Proxima Nova Extrabold', 'Proxima Nova Extrabold fallback', sans-serif;
  --bold-font: 'Proxima Nova Bold', 'Proxima Nova Bold fallback', sans-serif;
  --semibold-font: 'Proxima Nova Semibold', 'Proxima Nova Semibold fallback', sans-serif;
  --medium-font: 'Proxima Nova Medium', 'Proxima Nova Medium fallback', sans-serif;
  --regular-font: 'Proxima Nova Regular', 'Proxima Nova Regular fallback', sans-serif;
  --thin-font: 'Proxima Nova Thin', 'Proxima Nova Thin fallback', sans-serif;

  /* ===================== */
  --body-font-family: var(--regular-font);
  --heading-font-family: var(--extrabold-font);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 22px;
  --heading-font-size-xl: 22px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 76px;

}

@media (min-width: 1000px) {
  :root {
    --nav-height: 114px;
  }
}

/* fallback fonts */
@font-face {
  font-family: 'Proxima Nova Black fallback';
  size-adjust: 104.941%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Extrabold fallback';
  size-adjust: 103.111%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Bold fallback';
  size-adjust: 101.2%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Semibold fallback';
  size-adjust: 99.619%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Medium fallback';
  size-adjust: 98.559%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Regular fallback';
  size-adjust: 97.529%;
  src: local('Arial');
}

@font-face {
  font-family: 'Proxima Nova Thin fallback';
  size-adjust: 94.4%;
  src: local('Arial');
}

@font-face {
  font-family: 'FS Albert Bold fallback';
  size-adjust: 97.669%;
  src: local('Arial');
}

@font-face {
  font-family: 'FS Albert Regular fallback';
  size-adjust: 93.389%;
  src: local('Arial');
}

@font-face {
  font-family: 'icomoon fallback';
  size-adjust: 100.631%;
  src: local('Arial');
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-weight: 500;
  line-height: 1.275;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

strong {
  font-family: var(--extrabold-font);
}

a:any-link {
  font-family: var(--extrabold-font);
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--extrabold-font);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  max-width: 100%;
  padding: 5px 30px;
  text-align: center;
  font-style: normal; 
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
}

.icon svg {
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }  
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
  
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}
